.container-1{
  margin: 0 auto;
  border: 1px solid black;
  width: 75%;
  text-align: center;
}
.flex-box-container-1{
  display: flex;
  border: 1px solid black;
  padding: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-box-container-1 div{
  display: flex;
  padding: 10px;
  border: 1px solid black;
  align-items: center;
}
#display{
  border: 1px solid black;
}
